    .hiddenToggle{
        display:none;
        position: absolute;
        left: 3%;
        right: 3%;
        top: 5%;
        width: 94%;
        height: 35px;
        margin: 5px;
    }

	.searchInput{
        position: absolute;
        left: 3%;
        right: 3%;
        top: 5%;
        width: 94%;
        height: 35px;
        margin: 5px;
		padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3;
		border-radius: 2px 2px;
        display:block;            
	}

    .filterInput{
        display: block;
        position: absolute;
        border:1px solid #0076a3;
		border-radius: 0px 4px 4px 0px;
        font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
        width: 85%;
        left: 15%;
        height: inherit;
    }

    #categoryLabel{
        display: block;
        position:absolute;
        font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
        font-weight: 500;
        letter-spacing: .05em;
        color: white;
        text-transform: uppercase;
		border:1px solid #0076a3;
		border-radius: 2px 2px;
        background-color: #0076b3;
        /*background-color: #E1FCF3;*/
        width:15%;
        height: 17px;
        padding: 8px 0px;
        text-align: center;
    }

    #undoFilterButton{
        display: block;
        position:absolute;
        font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
        width: 5%;
        right:2%;
        top:115%;
    }

    .suggestions{
        position: absolute;
        left: 4%;
        right: 10%;
        top:10%;
        width:70%;
        font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
        display: block;
        color: #CFCFCF;
    }

    .filterSuggestions{
        position: absolute;
        left: 88%;
/*        right: 10%;*/
        width:15%;
        font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
        display: block;
        color: #CFCFCF;
    }

/*    #buttons{
        position: absolute;
        padding: 5px;
        left: 89%;
        right: 10%;
        top: 16%;
        width: 6%;
        height:5%;
	}*/
    
    #searchbutton{
        margin: 5px;
        width: 80px;
        height: 40px;
        font-size:24px;
    }

    #resultsbutton{
        margin: 5px;
        width: 100px;
        height: 40px;
        font-size:24px;
    }
    
    #history{
        position: absolute;
        top: 16%;
        left: 3%;
        height: 10%;
        width: 93%;
        border: 5px solid #EEE;
        padding: 5px;
        overflow: auto;
    }
    
    .filterbox{
        display: inline-block;
        height:14px;
        margin: 3px;
        padding: 6px 10px;
        font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
        background-color: #0076b3;
        color: white;
    }

    #resetbutton{
        -webkit-appearance: none; 
        -moz-appearance: none;
        position: absolute;
        background-color: #bbb;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        width: 100px;
        height: 28px;
        padding: 8px;
        border-radius: 0px;
        border:0px;
        left: 89%;
        right: 10%;
        top: 17%;
        margin: 5px;
    }

    .s2Container{
/*        background: red;*/
/*        font-size: 20px;*/
    }

    .s2DropDown{
        font-family: Arial, Helvetica, sans-serif;
/*		font-size:14px;*/
    }
