
	#search{
        position: absolute;
        left: 10%;
        top: 30%;
        width: 80%;
	}
	#searchInput{
        height: 10%;
        width: 100%;
		margin: 5px;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3;
		border-radius: 5px 5px;
	}

    #buttons{
        position: absolute;
        left: 40%;
        top: 40%;
        width: 80%;
        height:10%;
	}
    
    #searchbutton{
        width: 80px;
        height: 40px;
        font-size:24px;
    }

    #resultsbutton{
        width: 100px;
        height: 40px;
        font-size:24px;
    }
    
    #history{
        position: absolute;
        top: 48%;
        left: 10%;
        height: 50%;
        width: 80%;
        border: 5px solid #E1FCF3;
        padding: 15px;
    }
    
    .filterbox{
        display: inline-block;
        margin: 2px;
        padding: 3px 5px;
        font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
        background-color: #78CCB4;
    }

    #resetbutton{
        position: absolute;
        right: 5%;
        top:43%;
    }
